.player{
    margin: 10px 10px 10px 30px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 15px 0px 30px;
}

.grey{
    color: grey;
    margin: 7px;
}

h4{
    margin: 7px;
    display: inline;
    font-size: 1.1em;
}

.font{
    display: inline;
    float: right;
    font-size: 1.5em;
}
.comments{
    color: black;
    size: 1.5em;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.textboxes{
    margin: 30px;
}
.writer{
    
    /* border: 1px solid black; */
    border: transparent;
     border-bottom: 1px solid grey;
    height: 1.5em;
    width: 45%;
    margin: 10px;
    outline: 0px;
    font-size: 1em;
    padding: 1px; 
}

.buttons{
    float: right;
    margin: 5px 50px;
}


.novids{
    color: grey;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    

}